<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/datatables.css}" rel="stylesheet"/>
  <link th:href="@{/css/datatables-custom-theme.css}" rel="stylesheet"/>
  <link th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" />
  
  <script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/datatables-bootstrap.js}"></script>
  <script type="text/javascript" th:src="@{/js/datatables.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
  <script type="text/javascript" th:src="@{/js/raphael-2.1.0.min.js}"></script>
</head>
<body>
   <div class="container">
     <div class="container-fluid">
       <div class="col-lg-8 col-lg-offset-2">
         <div class="page-header">
           <h3 class="alert alert-info">Form Insert</h3>
         </div>
         <form th:action="@{/data/insert}" 
         method="POST" th:object="${getdata}" class="form-horizontal">
          <input type="hidden" name="idnasabah" th:field="*{idnasabah}"/>
           <div class="form-group">
             <label class="col-lg-3 control-label">nama :</label>
             <div class="col-lg-5">
               <input type="text" class="form-control" th:field="*{nama}" name="nama" />
             </div>
           </div>
           <div class="form-group">
             <label class="col-lg-3 control-label">telepon :</label>
             <div class="col-lg-5">
               <input type="text" class="form-control" th:field="*{notelp}" name="notelp" />
             </div>
           </div>
           <div class="form-group">
             <label class="col-lg-3 control-label">alamat :</label>
             <div class="col-lg-5">
               <input type="text" class="form-control" th:field="*{alamat}" name="alamat" />
             </div>
           </div>
           <div class="col-lg-4 col-lg-offset-4">
             <button type="submit" class="btn btn-success">
               <span class="glyphicon glyphicon-saved"></span>
               save
             </button>
           </div>
         </form>
       </div>
     </div>
   </div>
</body>
</html>